@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
body{
    font-family: 'Nunito', sans-serif;
    background-color: #EBF2FA;
}
.navbar{
    background-color: #2C5F2D;
    font-weight: bold;
}
.nav-link, .navbar-brand{
    color: white;
}
.btn-primary{
    background-color: #2C5F2D;
}
.btn-primary:hover{
    background-color: #204621;
}
dialog{
    border-radius: 2%;
    border-color: #2c5f2dce;
}
